/* main.css */

/* body */
body {
    font-family: 'Quicksand', 'Noto Sans JP', 'メイリオ', Meiryo, sans-serif !important;
    font-weight: bold;
    font-size: 100%;
    letter-spacing: .1em;
    color: dimgray;
}

/* タイトル */
.title-box {
    display: flex;
    vertical-align: middle;
    color: silver;
    height: 50px;
}

/* 認証ボタン */
.auth-btn {
    position: fixed;
    cursor: pointer;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 80px;
    font-size: 90%;
    line-height: 2.2em;
    vertical-align: middle;
    text-align: center;
    background-color: gainsboro;
    border-radius: 2px;
    text-shadow: 0 1px 0 #fff;
    transition-duration: .3s;
}
.auth-btn:hover {
    background-color: silver;
}

.notify {
    position: absolute;
    width: 30%;
    height: 50px;
    top: -50px;
    color: white;
    background-color: red;
    border-radius: 0px 0px 5px 5px;
    margin: 0 20%;
}
.notify-anim {
    animation: notifyanim 4s ease 0s 1 normal;
 }
 @keyframes notifyanim {
    00% {top: -50px;}
    20% {top: 0px;}
    80% {top: 0px;}
    100% {top: -50px;}
 }